.container {
  margin: 20px;
}

.horizontal-menu {
  display: flex;
  position: relative;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

.menu-item:hover {
  color: #eca302;
}

.selected {
  color: #eca302;
  font-weight: bold;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #eca302;
  transition: left 0.3s ease-in-out;
}
.tab-content {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
}
/* Device information tab below */

/* Set font styles for the left column */
.col-md-6 {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold; /* Add this line to make the left column bold */
}

/* Adjust the progress bar dimensions */
.progress-bar {
  width: 200px; /* Set the width to 200px */
  height: 12px; /* Set the height to 12px */
}

/* Set font styles for the right column */
.col-md-6 > div {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
/* VPN */
.orange-header {
  font-family: "Roboto", sans-serif;
  color: #eca302;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rectangle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  width: 179px;
  height: 58px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.bold-header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.green-square {
  width: 12px;
  height: 12px;
  background: #6ed250;
  border-radius: 1px;
  margin-right: 5px;
}

.status-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

/* DashboardTab.css */

.network-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network-tab-header {
  margin-top: 20px;
}

.wide-picture {
  width: 1000px;
  height: 130px;
}

.network-tab-title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #eca302;
  text-align: left;
}

.network-tab-icon {
  margin-top: 10px;
  font-size: 14px;
  color: #eca302;
  text-align: left;
}

.network-tab-table {
  margin-top: 20px;
  width: 900px;
}

.dark-grey {
  background-color: white;
  color: #333;
}

.yellow {
  background-color: #ffffcc;
}

.network-tab-table th,
.network-tab-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.network-tab-wifi {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wifi-header {
  font-size: 20px;
  font-weight: bold;
  color: #eca302;
  text-align: left;
  width: 100%;
}

.wifi-rectangle {
  margin: 10px;
  width: 300px;
  height: 120px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rectangle-header {
  font-size: 16px;
  font-weight: bold;
}

.rectangle-data {
  font-size: 14px;
}

.rectangle-ghz {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.rectangle-ghz.ghz-24 {
  background-color: green;
}

.rectangle-ghz.ghz-5 {
  background-color: blue;
}
